//Variable
$bg-color: #FAFAFA;

body {
    background-color: $bg-color;
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.margenesAutomaticos {
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    padding: 0 !important;
    padding-bottom: 6px !important;
    border: solid lightgray 0.3px;
}

.nav-item {
    font-size: 1.4em;
    margin-right: 12px;
    text-align: center;
}

.nav-item i {
    font-size: 1.1em;/*Larger icons*/
    width: 30px;
}

#searchBar {
    margin-right: 5px !important;
    margin-bottom: 5px !important;
    /* width: 50%;
    margin-left: auto;
    margin-right: auto; */
    /*
    margin-left: auto;
    margin-right: auto; USAR CON MEDIA QUERY PARA CUANDO COOLAPSA Y AMPLIARLO
    */ 
}

/*COntenedor del carrusel*/
#carouselExampleControls {
    margin-top: 80px;
    margin-bottom: 45px;
}

.carrusel {
    position: absolute;
    top: 10%;
}

.row {
    margin-bottom: 30px;
}


.cardTitles {
    text-align: center;
}
/*
.abajo {
    position: relative;
    bottom: 0;
    margin: 5px;    
}*/

#sidebar {
    padding: 0;
}

.container-fluid {
    padding-left: 0;
}

ul {
    list-style: none;
}

#primerElemento {
    margin-top: 120px;
}

//anidamiento
.imgSmall {
    padding-left: 30px;

    img {
        width: 80%;
    }
}

//herencia
#contenedor {
    max-width: 1400px;
    @extend .margenesAutomaticos;

}

/*PAGINA DE PRODUCTOS*/
#mainContainerProducts {
    padding-right: 0;
}

#mainContentContainer{
    margin-top: 100px;
}


/*large view*/
@media (min-width: 992px){
    #searchBar {
        width: 50%;/*Custom size of the search bar on NavBar*/
        
        /*
        margin-left: auto;
        margin-right: auto; USAR CON MEDIA QUERY PARA CUANDO COOLAPSA Y AMPLIARLO
        */ 
    }
}

/*medium view*/
@media (min-width: 768px) and (max-width: 991px){
    .imgCarrusel{
        height: 690px;
    }
}

/*SMALL VIEW*/
@media(min-width: 576px) and (max-width: 767px){
    .imgCarrusel{
        height: 390px;
    }
}

/*phone VIEW*/
@media(max-width: 575px){
    .imgCarrusel{
        height: 290px;
    }

    #mainContentContainer{
        margin-top: 15px;
    }
}

.weird {
    position: relative;
    top: -20;
}